@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-color : #FF460C;
    --white-color : #FFFFFF;
    --bg-white-color : #F4F8FB;
}

*, *::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    background: var(--bg-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
}
input ,input::placeholder {
    font: inherit;
}

.btn{
    padding: 10px;
    outline: none;
    border: none;
    
}